:root {
  --color-purple-primary: #363c90;
  --color-blue-secondary: #4b53bc;
  --color-background: #ebebeb;
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  color: var(--color-background);
  font-weight: 300;
}
.container {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content repeat(
      12,
      min-content
    );
  grid-template-columns: 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}
.navbar {
  grid-column: 1/-1;
  background-color: #fff;
  height: 5.5rem;
  padding-left: 9rem;
  padding-right: 9rem;
  display: grid;
  grid-template-columns: 13.7rem 8.4rem 1fr 35.5rem;
}
.learnMore {
  grid-column: 1/-1;
  background-color: var(--color-blue-secondary);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  /* width: 100%; */
}
.logo {
  height: 2.3rem;
  width: 10.8rem;
  margin-top: 0.7rem;
}
.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-left: 2px solid #000 ; */
}
.title_link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
}
.title_link:hover {
  border-bottom: 3px solid #000;
}
.link {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  margin-left: 1.5rem;
  transition: all 0.5s;
}
.link:hover {
  border-bottom: 1px solid rgb(252, 248, 248);
  margin-right: 0.5rem;

  /* transform: translateX(20px); */
}

.img-home {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.arrow {
  /* padding-top: 0.5rem; */
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}
.home {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1/-1;
  /* justify-content: space-between; */
  background-color: #fcfcfc;
}

.home-text {
  padding-top: 14rem;
  padding-left: 12rem;
  color: #000;
  width: 50vw;
  /* grid-template-columns: 1/-1; */
}
.heading {
  font-size: 5rem;
  color: var(--color-purple-primary);
}
.heading-2 {
  font-weight: 100;
  font-size: 3.5rem;
  color: #000;
  word-spacing: 2px;
}
.btn1 {
  background-color: var(--color-blue-secondary);
  margin-top: 3rem;
  border: none;
  padding: 1rem 6rem;
  display: inline-block;
}
.btn1:hover {
  background-color: var(--color-purple-primary);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.btn-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.btn2 {
  background-color: #fff;
  margin-top: 3rem;
  margin-left: 2rem;
  border: 2px solid var(--color-blue-secondary);
  padding: 1rem 9rem;
  display: inline-block;
}
.btn2:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.btn-link-2 {
  text-decoration: none;
  color: var(--color-blue-secondary);
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 500;
}
.head_link {
  margin-top: 2rem;
}
.link_2 {
  color: var(--color-purple-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  /* margin-left: 1.5rem; */
  transition: all 1s;
}
.link_2:hover {
  border-bottom: 1px solid var(--color-purple-primary);
  /* font-size: 2rem; */
  margin-right: 0.5rem;
}
.arrow-2 {
  /* margin-top: 1rem; */
  height: 1.3rem;
  width: 1.3rem;
  fill: var(--color-purple-primary);
}
.btn_work-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  transition: all 0.3s;
}
.btn_work-link:hover {
  border-bottom: 2px solid #fff;

  /* font-size: 2rem; */
  margin-right: 0.5rem;
}
.gap {
  grid-column: 1/-1;
  color: var(--color-purple-primary);
  height: 15rem;
}
.threephoto {
  grid-column: 2/-1;
  /* background-color: #000; */
  height: 60rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);
}
.para {
  grid-column: 1/5;
  background-color: #fff;
}
.para_content {
  text-align: left;
  padding-top: 16rem;
  color: #000;
}
.para_heading {
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 4rem;
}
.para_p1 {
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 2rem;
}
.Three_photos {
  grid-column: 5/-2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 3vw);
  column-gap: 20px;
  row-gap: 20px;
}
.work {
  grid-row: 1/-1;
}

.HOME {
  grid-row: 1/7;
}
.School {
  grid-row: 7/10;
}
.work_img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.block {
  position: relative;
}
.btn {
  position: absolute;
  bottom: 2rem;
}
.btn_work {
  background-color: var(--color-blue-secondary);

  border: 2px solid #fff;

  height: 4rem;
  width: 11rem;
  display: block;
}
.arrow_work {
  /* padding-top: 0.5rem; */
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}
.chat {
  grid-column: 1/-1;
  position: relative;
  text-align: center;
  color: #fff;
}
.bottom-left {
  position: absolute;
  top: 17rem;
  left: 7rem;
  display: grid;
  row-gap: 20px;
}
.photo_nav {
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
  border-left: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}
.border {
  border-left: 5px solid var(--color-blue-secondary);
}
.img {
  width: 100%;
}
.meet,
.call,
.collaborate {
  grid-column: 1/-1;
  position: relative;
  /* background-color: #555; */
}
.chattext {
  grid-column: 2/10;
  display: grid;
  grid-auto-flow: column;
  padding: 5rem;
}
.chat_heading {
  color: #000;
  font-weight: 600;
  font-size: 3.5rem;
  /* margin-top: 4rem; */
  /* margin-bottom: 4rem; */
  margin-left: 10rem;
}

.btn-3 {
  background-color: var(--color-blue-secondary);
  /* margin-top: 3rem; */
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  display: inline-block;
}
.chat_description {
  color: #000;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
}
.Learn_more {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.meettext,
.calltext,
.colltext {
  grid-column: 2/10;
  background-color: #000;
}
.gap2 {
  grid-column: 1/-1;
  height: 7rem;
  /* background-color: var(--color-blue-secondary); */
}
.getStarted {
  grid-column: 1/-1;
  height: 58rem;
  background-color: var(--color-blue-secondary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}
.gs_heading {
  font-size: 1.7rem;
  word-spacing: 0.5rem;
  /* width: 50vw; */
  padding-top: 23rem;
  padding-left: 12rem;
  display: inline-block;
  /* display: grid;
  /* justify-content: center; */
  /* align-items: center; */
}
.gs_options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn_gs {
  background-color: #fff;
  margin-top: 3rem;
  border: none;
  padding: 1rem 2rem;
  display: inline-block;
}
.btn_gs:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.btn_gs-link {
  text-decoration: none;
  color: var(--color-blue-secondary);
  font-size: 1.5rem;
  font-weight: 500;
}
.btn_gs2 {
  background-color: transparent;
  margin-top: 3rem;
  margin-left: 2rem;
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  display: inline-block;
}
.btn_gs2:hover {
  background-color: var(--color-purple-primary);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.btn_gs-link-2 {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 500;
}
.box {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content max-content;
  margin-bottom: 4rem;
  height: 6rem;
}
.home_icon {
  width: 6rem;
  display: flex;
  align-items: center;
}
.home_svg {
  height: 36px;
  width: 36px;
  fill: #fff;
  outline: #fff;
}
.linkntext {
  display: flex;
  /* margin-top: 1rem; */
  justify-content: center;
  flex-direction: column;
}
.link-1 {
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: all 0.5s;
}
.link-1:hover {
  border-bottom: 1px solid rgb(252, 248, 248);
  margin-right: 0.5rem;

  /* transform: translateX(20px); */
}
.footer {
  grid-column: 1/-1;
  background-color: #f2f2f2;
  height: 33rem;
  color: rgb(73, 72, 72);
  display: grid;
  grid-template-columns: 8rem repeat(6, 1fr) 10rem;
}
.firstList {
  grid-column: 2/3;
}
.un {
  list-style: none;
}
.list_heading {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.items {
  margin-bottom: 2rem;
}
.list_links {
  text-decoration: none;
  color: #555;
}
.list_links:hover {
  border-bottom: 1px solid #555;
}
.SecondList {
  grid-column: 3/4;
}
.thirdList {
  grid-column: 4/5;
}
.fourthList {
  grid-column: 5/6;
}
.fifthList {
  grid-column: 6/7;
}
.sixthList {
  grid-column: 7/8;
}
.footerNav {
  grid-column: 1/-1;
  background-color: #f2f2f2;
  height: 5rem;
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.lang {
  color: #555;
  font-size: 1rem;
  padding-top: 2.5rem;
  padding-left: 6rem;
}

.un2 {
  display: grid;

  grid-auto-flow: column;
  list-style: none;
  justify-content: center;
}
.items2 {
  padding: 1.8rem;
}
.un3 {
  display: grid;

  grid-auto-flow: column;
  list-style: none;
  justify-content: left;
}
.items3 {
  padding: 2rem;
}
.list_links2 {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
}
.list_links2:hover {
  border-bottom: 3px solid #000;
}
.signUps {
  display: grid;

  grid-auto-flow: column;
}

.btn_nav {
  background-color: var(--color-blue-secondary);
  /* margin-top: 1rem; */
  border: none;
  width: 11rem;
  height: 3.3rem;
  margin-top: 1rem;
  border-radius: 3px;
  /* display: inline-block; */
}
.btn_nav:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.btn_nav-link {
  /* background-color: var(--color-blue-secondary); */

  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}
.nav_link {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 1024px) {
  .home-text {
    padding-top: 4rem;
    padding-left: 5rem;
    color: #000;
    /* width: 50vw; */
    /*! grid-template-columns: 1/-1; */
  }
}
